<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
</head>

<body>
    <h1>
        Here is the current data! </h1>

    <div>
        Here are is a list of professors currently in the directory:
        {% for p in profs %}
        <tr>
            <td>{{ p.profID }}</td>
            <td>{{ p.name }}</td>

            {% endfor %}
    </div>

    <div>
        Here are is a list of courses currently in the directory:
        {% for c in courses %}
        <tr>
            <td>{{ c.dept }}</td>
            <td>{{ c.number }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.credits }}</td>

            {% endfor %}
    </div>

</body>

</html>