<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'table_styles.css' %}" />

</head>

<body>
    <h1>
        Here is the current data! </h1>

    <div>
        <table>
            <caption>Here are is a list of professors currently in the directory:</caption>
            <thead>
                <tr>
                    <th>Professor ID</th>
                    <th>Name</th>
                    <th>Course Prefs</th>
                    <th>Hard Times</th>
                    <th>Soft Times</th>
                </tr>
            </thead>
            <tbody>
                {% for p in profs %}
                <tr>
                    <td>{{ p.profID }}</td>
                    <td>{{ p.name }}</td>

                <td>
                    <ul>
                        {% for c in p.courses.all %}
                        <li>{{ c.number }}</li>
                        {% endfor %}
                    </ul>
                </td>
                
                <td>
                    <ul>
                        {% for t in p.hard_times %}
                        <li>{{ t }}</li>
                        {% endfor %}
                    </ul>
                </td>

                <td>
                    <ul>
                        {% for t in p.soft_times %}
                        <li>{{ t }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>

        <table>
            <caption>Here are is a list of courses currently in the directory:</caption>
            <thead>
                <tr>
                    <th>Dept</th>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Credits</th>
                    <th>Dependencies</th>
                </tr>
            </thead>
            <tbody>
                {% for c in courses %}

                <tr>
                    <td>{{ c.dept }}</td>
                    <td>{{ c.number }}</td>
                    <td>{{ c.name }}</td>
                    <td>{{ c.credits }}</td>

                    <td>
                        <ul>
                            {% for d in c.dependencies.all %}
                            <li>{{ d.number }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="button button1" onClick="location.href='http://127.0.0.1:8000/flush_everything'">
        Flush the data
    </button>
</body>

</html>